/*  
    The bypass CSS is taken and modified from https://www.a11y-collective.com/blog/skip-to-main-content/
    I wanted to make sure that I followed A11Y standards to make this side
*/
.bypass {
    position: absolute;
    text-align: center;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    opacity: 0;
}

.bypass:focus {
    position: static;
    opacity: 1;
    border: 5px;
    border-style: solid;
    border-color: rgb(13, 202, 240);
}